/* Reset margin dan padding pada tag body */
body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
}

/* tag nav berperan sebagai flex container */
nav{
    /* Syarat untuk menggunakan flexbox */
    display: flex;

    /* Memberikan space horizontal diantara tag img dengan tag ul*/
    justify-content: space-between;
    background-color: #7bf6d4;
    padding: 0.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center; /* Memusatkan secara vertikal */
}

nav ul li{
    margin: 0 1rem;
}

/*memberikan warna about, blog, shop, dan contact*/
nav ul li a{
    text-decoration: none;
    color: black;
}

/*Memberikan tanda garis dibawah about, blog, shop, dan contact*/
nav ul li a:hover{
    border-bottom: 2px solid #000;

}